<div class="collection-item row">
  <div class="col s6 m6">
    <p id="figure-item-title">{{figure.name}}</p>
    <p id="figure-item-text">
      Joué par {{figure.actor.firstName}} {{figure.actor.lastName}} dans le film {{figure.movie.title}}
    </p>
  </div>
  <div class="col s6 m6">
    <a (click)="deleteFigure()" class="secondary-content"><i class="material-icons red-text text-darken-2">delete</i></a>
    <a routerLink="/admin/figures/update/{{figure.actor.id}}/{{figure.movie.id}}" class="secondary-content"><i class="material-icons text-darken-2">create</i></a>
  </div>
</div>
