@import 'src/styles';

#arrow-back {
  margin-top: 2%;
  margin-left: 2%;

  a {
    color: dimgray;
    i {
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
}

.figure-add-title {
  color: $grey-dark;
  margin-bottom: 5%;
}
