@import 'src/styles';

#login-card {
  float: none;
  margin: 5% auto 0 auto;
  padding: 2%;
  background-color: $grey-dark;
  border-radius: 5px;

  .login-title {
    color: $grey-lighten;
  }

  .input-field {
    label {
      color: $grey-lighten;
    }

    input {
      color: $grey-lighten;
      &:focus {
        border-bottom: 1px solid $primary-color;
        box-shadow: 0 1px 0 0 $primary-color;
        & + label {
          color: $primary-color;
        }
      }
    }

    .prefix {
      color: $grey-lighten;
      &.active {
        color: $primary-color;
      }
    }
  }
}
