@import 'src/styles';

#loginCard {
  margin-top: 5%;
  margin-left: 37.5%;
  padding: 2%;
  background-color: #222A35;
  border-radius: 5px;

  .input-field {
    label {
      color: $grey-lighten;
    }

    input {
      color: $grey-lighten;
      &:focus {
        border-bottom: 1px solid $primary-color;
        box-shadow: 0 1px 0 0 $primary-color;
        & + label {
          color: $primary-color;
        }
      }
    }

    .prefix {
      color: $grey-lighten;
      &.active {
        color: $primary-color;
      }
    }
  }

  #loginTitle {
    color: $grey-lighten;
    text-align: center;
  }

  #loginButton {
    display: block;
    margin: 0 auto;
  }
}
