<nav>
  <div class="nav-wrapper">
    <a routerLink="/categories" class="brand-logo center">Cinema</a>
    <ul class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/categories">Catégories de films</a></li>
      <li routerLinkActive="active"><a [routerLink]="!currentUser ? '/movies' : 'admin/movies'">Films</a></li>
      <li routerLinkActive="active"><a routerLink="/actors">Acteurs</a></li>
      <li routerLinkActive="active">
        <a routerLink="/login" *ngIf="!currentUser">Se connecter</a>
        <a href="#" *ngIf="currentUser" (click)="logout()">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
