/* You can add global styles to this file, and also import other style files */
$primary-color: #25C19C;
$grey-dark: #222A35;
$grey-lighten: #EEEEEE;

html {
  background-color: #F0F0F0;
}

.btn.waves-effect {
  background-color: $primary-color;
}
