<div class="collection-item row">
  <div class="col s6 m6">
    <p id="movie-item-title">{{movie.title}}</p>
    <p id="movie-item-text">
      Film de {{movie.director.firstName}} {{movie.director.lastName}} ({{movie.releaseDate | date: 'dd/MM/yyyy'}})<br>
    </p>
  </div>
  <div class="col s6 m6">
    <a routerLink="/movie-detail/{{movie.id}}" class="secondary-content"><i class="material-icons">add</i></a>
    <a *ngIf="isManageable" (click)="deleteMovie()" class="secondary-content"><i class="material-icons red-text text-darken-2">delete</i></a>
  </div>
</div>
